@import 'App';
@import '_mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include font-face("SF Pro Text", "../../fonts/SFProText/SFProText-Regular", 400, normal, "modern");

@include font-face("SF Pro Display", "../../fonts/SFProDisplay/SFProDisplay-Regular", 400, normal, "modern");
@include font-face("SF Pro Display", "../../fonts/SFProDisplay/SFProDisplay-Bold", 600, normal, "modern");

body {
  margin: 0;
  font-family: 'SF Pro Text', 'Helvetica', 'Arial', 'sans-serif','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFCF9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}